.app-container {
  max-width: 1200px;
  min-width: 800px;
}

.header {
  display: flex;
  justify-content: space-between;
}

.header > div {
  margin : 15px;
}

.input-pair-container {
  display:flex;
  justify-content: space-between;
  background-color: rgb(238, 238, 238);
}

.input-pair-container > div {
  margin : 25px;
}

.input-text {
  font-size: 18px;
  font-weight: bold;
  margin : 15px;
}

.input-blank {
  height: 30px;
  width: 270px;
  border : none;
  border-radius: 10px;
}

.input-button {
  height : 40px;
  width : 140px;
  background-color: rgb(0, 128, 128);
  border:none;
  border-radius: 8px;
  color: white;
  font-weight: bold;
}

.todocontents {
  margin-left: 30px;
  font-weight: bolder;
  font-size: 25px;
}

.working-field {
  display: flex;
  flex-direction: row;
}

.done-field {
  display: flex;
  flex-direction: row;
}

.working-item-container {
  height: 200px;
  width:275px;
  border: 3px solid rgb(0, 128, 128);
  border-radius: 15px;
  padding: 0 20px 0 20px;
  margin: 0 0 0 10px; 
}

.working-item-content {
  font-size: 16px;
  font-weight: 400;
}
.button-pair {
  display: flex;
  justify-content: space-between;
}

.delete-button {
  height: 45px;
  width: 130px;
  border: 2px solid red;
  border-radius: 8px;
  background-color: transparent;
}

.complete-button {
  height: 45px;
  width: 130px;
  border: 2px solid green;
  border-radius: 8px;
  background-color: transparent;
}